/* resources/css/app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- CULT THEME OVERRIDES --- */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select {
    background-color: #111827 !important;
    color: #ffffff !important;
    border-color: #374151;
}

input:focus,
select:focus {
    border-color: #a855f7 !important;
    --tw-ring-color: #a855f7 !important;
    box-shadow: 0 0 0 1px #a855f7 !important;
    outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #111827 inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
}

.text-red-600,
.text-red-500 {
    color: #f87171 !important;
    font-weight: bold;
}